@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Turret-Road-Bold";
  src:
    local("Turret Road"),
    url("/fonts/turret-road.bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Turret-Road-Medium";
  src:
    local("Turret Road"),
    url("/fonts/turret-road.medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Turret-Road-ExtraBold";
  src:
    local("Turret Road"),
    url("/fonts/turret-road.extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  font-family: "Turret-Road-Bold";
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(5, 5, 5, 0.05);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

h2 {
  font-family: "Turret-Road-ExtraBold";
}
nav {
  font-family: "Turret-Road-Medium";
  color: #000000;
}

main {
  background-image: url("/main-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

/* .invest-info {
  flex: 1;
}

.invest-video {
  flex: 2;
}

.invest-balance {
  flex: 1.5;
} */

.invest-gradient {
  background: linear-gradient(180deg, #ffffff -70%, #5b5b5b 142.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.copy-gradient {
  background: linear-gradient(90deg, #ffffff 1.98%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.partners-bg {
  background: rgba(255, 255, 255, 0.06);
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}

.bottom-bg {
  background: linear-gradient(180deg, rgba(33, 33, 33, 0) 0%, #212121 93.89%);
}

.top-bg {
  background: linear-gradient(180deg, rgba(22, 22, 22, 0) 0%, #161616 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
